<h1>Admin - User Roles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Change Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Edit role', edit_admin_user_role_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
