<div id="<%= dom_id user %>">
  <p>
    <strong>UserID</strong>
    <%= user.id %>
  </p>

  <p>
  <h4>email:  <%= user.email %> </h4>
  </p>

  <p>
    <h4>Admin?: <%= user.admin %> </h4>
  </p>

</div>
