<div class="jombotron">


  <h1 <%= render @user %></h1>
  <br/>
</div>

  </br></br>
  <%= button_to "Make Admin", {action: "admin" }, method: :put, class: "btn btn-success" %>
<%= link_to "Remove this User", users_path, class: "btn btn-danger" %>


